extends layout

block layout-content
	.container.w-25
		form.form-signin(role='form', action='/login', method='post')
			h2.form-signin-heading.mb-4.text-center Login
			label.sr-only(for='inputEmail')
			input.form-control.mb-2(type='text', name='username', id='inputEmail', placeholder='Username', required, autofocus)
			input.form-control.mb-2(type='password', name='password', id='inputPassword', placeholder='Password')
			button.btn.btn-lg.btn-info.btn-block.mb-2(type='submit') LOGIN
			p.text-center Don't have an account? 
				a(href="/register") Sign Up
			if (error)
				.alert.alert-danger.alert-dismissible.show
					button.close(type="button", data-dismiss="alert").w-5
						| &times;
					strong Error!
					| &nbsp; #{error}