extends layout

block layout-content
    .row
        .col-md-1
        .col-md-10
            .card.card-default(style="padding:0px 20px;")
                .card-header
                h2.text-center
                    i.fa.fa-cart-plus
                    | Cart
                // /.card-header
                .card-body
                    .callout.callout-danger
                        .h3 Your cart is empty


                            
        